.container {
  padding: 20px 60px;
}
.backLink {
  padding: 6px 10px;
  margin-bottom: 22px;
  width: fit-content;
  background-color: rgba(138, 43, 226, 0.3);
}
.backLink:hover,
.backLink:focus {
  background-color: rgb(138, 43, 226);
}
.info {
  margin-bottom: 12px;
  font-size: 20px;
}
.infolink {
  padding: 4px;
  font-size: 18px;
}
.infolink:hover,
.infolink:focus {
  color: rgb(138, 43, 226);
}
