.section {
  display: flex;
  gap: 50px;
  margin-bottom: 22px;
}
.title {
  font-size: 30px;
  margin-bottom: 12px;
}
.slug {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 32px;
}
.slug::before,
.slug::after {
  content: ",";
  padding-left: 2px;
  padding-right: 2px;
  color: blueviolet;
  font-size: 36px;
  line-height: 0;
}

.descr li {
  margin-bottom: 12px;
}
.subtitle {
  font-size: 22px;
  margin-bottom: 8px;
}
.text {
  font-size: 18px;
}
.genres {
  display: flex;
  gap: 0;
  font-size: 18px;
}
.genres li::after,
.genres li::before {
  content: "|";
  padding-left: 8px;
  padding-right: 8px;
  color: blueviolet;
  font-size: 26px;
}
.img {
  width: 450px;
}
